<div class="content">
  <div class="row">
    <div class="span8">
      <h2>Новости</h2>
      
      <table class="table">
        <% @newsfeed.each do |item| %>
          <tr>
            <td>
              <%= link_to vk_url(item.source), target: '_blank' do %>
                <%= image_tag avatar_for(item.source) %>
              <% end %>
            </td>
            
            <td class="wide">
              <div class="pull-right"><%= formatted_time_for(item.date) %></div>
              <%= link_to name_for(item.source), vk_url(item.source), target: '_blank' %>
              
              <p><%=raw render_links(item.text) %></p>
              
              <% item.attachments.each do |attachment| %>
                <%= render 'attachment', attachment: attachment %>
              <% end if item.attachments? %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    
    <div class="span4">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>
