<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <%= link_to 'VkontakteOnRails', root_path, class: 'brand' %>
      
      <div class="container nav-collapse">
        <% if logged_in? %>
          <ul class="nav pull-right">
            <li>
              <%= link_to vk_url(@user), target: '_blank' do %>
                <%= image_tag(@user.photo, width: 20) %>
                <%= "#{@user.first_name} #{@user.last_name}" %>
              <% end %>
            </li>
            <li>
              <%= link_to 'Выход', logout_path, method: :delete %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
